body {
  background-color: whitesmoke;
  color: darkviolet;
}
#response {
  color: green;
}
#error {
  color: deeppink;
}
div {
  padding: 10px;
}
form {
  display: table;
}

p {
  margin: 20px;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}
.div-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: justify;
}
.a100Savings {
  background-color: lightblue;
}

.dailyEquivalentSavings {
  background-color: pink;
}

.saccoDividends {
  background-color: bisque;
}
.insurance {
  background-color: lightyellow;
}
